@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

* {
  padding: 0;
}


body {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Ensure the body covers the entire viewport height */
    margin: 0; /* Remove default body margin */
    font-family: 'Press Start 2P';
    background-color: #221;
}

.centered-container {
    text-align: center; /* Center-align text inside container */
}

.content {
    /* Add styling for your centered div */
   
    font-size: 2rem;
    line-height: 2;
    height: 100%;
    
    text-transform: uppercase;
}

h1{
   font-size: 4rem;
   color: #fff090;
}
a {
    text-decoration: none;
    color: #fff090;
  }
  
  li {
    list-style-type: none;
    color: #4FAF44;
  }
  
  .arrow i {
    display: none;
  }
  
  .arrow {
    position:relative;
      display: block;
    color: #F6EB14;
  }
  
  .arrow:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .arrow:hover i { 
    display: block;
    position: absolute;
    top: 0.50em; 
    /* left: -6em; */
  }
  